* {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  background-image: url(https://i.pinimg.com/736x/c8/31/06/c83106cdf413723f523c5a93670b1bf8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container {
    margin-top: 15%;
    padding: 5%;
    label {
      color: rgb(209, 175, 88);
    }
    .btn {
      background-color: #0e1b2c;
      color: rgb(209, 175, 88);
      border: 1px solid;
    }
  }
}
